/* Initial CSS for default values */
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0 1em 1em 1em;
  background-color: lightslategrey;
}

/*Handling Responsive behavior using grid and media query*/
body {
  display: grid;
}

/* Header changes starts here */
.page-header {
  display: flex;
  grid-area: header;
}

.page-header > .logo {
  display: flex;
  padding: 1em;
  background-color: lightgrey;
}

.page-header > .search {
  margin-top: 2em;
  display: flex;
}

.search-input {
  height: 2.5em;
  width: 40em;
}

.search-button {
  padding: 0;
  display: flex;
  width: 2.5em;
  height: 2.5em;
}

.my-account {
  margin-top: 2em;
  line-height: 0.01em;
}

.my-cart {
  margin-top: 2em;
  margin-right: 2em;
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-width: 1em;
  border-color: red;
  background-color: lightgray;
}
/* Header changes ends here */

/* Gallery changes starts here */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 40em;
  margin: 0 auto;
  grid-gap: 1em;
  grid-area: gallery;
}

.gallery > img {
  max-width: 100%;
  vertical-align: middle;
  margin-top: 1em;
}

.bigimg {
  grid-column: span 3;
}
/* Gallery changes ends here */

/* main changes (categories shown here) starts here */
header > nav > ul li {
  list-style-type: none;
  display: flex;
}

.filter-sidebar {
  display: block;
}

.summary {
  grid-area: main;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  border-color: black;
  border-width: 0.2em;
  border-style: solid;
  padding: 1em;
  margin: 1em;
}

.category > img {
  width: 12em; /* width of container */
  height: 12em; /* height of container */
  object-fit: cover;
}
/* main changes (categories shown here) ends here */

/* filter changes starts here */
.products-filter {
  border-color: black;
  border-width: 0.2em;
  border-style: solid;
  padding: 0.2em;
}

.filter-sidebar {
  grid-area: filter;
}

.filter-list > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product > header > img {
  width: 12em; /* width of container */
  height: 12em; /* height of container */
  object-fit: cover;
  border: 5px solid black;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-results {
  grid-area: results;
  margin-left: 1em;
  border-color: black;
  border-width: 0.2em;
  border-style: solid;
  padding: 0.2em;
}

.product {
  margin: 1em;
  padding: 1em;
}

.pagination {
  grid-area: pagination;
}

.pagination > ol {
  list-style-type: none;
  margin: 2em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination > ol > li {
  padding-right: 0.2em;
}

.pagination > p {
  margin-left: 2em;
}
/* filter changes ends here */
