@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Initial CSS for default values */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  --body-color: #eeeeee;
  --header-color: #89c74a;
  font-family: Roboto, "Times New Roman", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0 1em 1em 1em;
  background-color: var(--body-color);
  background-attachment: fixed;
}

/* Header changes starts here */
.page-header {
  display: flex;
  grid-area: header;
}

.page-header > .logo {
  display: flex;
  padding: 1em;
  background-color: var(--header-color);
}

.page-header > .search {
  margin-top: 2em;
  display: flex;
}

.search-input {
  height: 2.5em;
  width: 40em;
}

.search-button {
  padding: 0;
  display: flex;
  width: 2.5em;
  height: 2.5em;
}

.my-account {
  margin-top: 2em;
  line-height: 0.01em;
}

.my-cart {
  margin-top: 2em;
  margin-right: 2em;
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-width: 1em;
  border-color: red;
  background-color: var(--header-color);
}
/* Header changes ends here */

.heading {
  margin: 0.2em;
  padding: 0;
}

.category,
.suggested-products {
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
  background-color: beige;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.product > header > img {
  width: 12em; /* width of container */
  height: 12em; /* height of container */
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.product {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0.4em 0.8em gray;
  background-color: white;
}

dd {
  font-size: 1.5em;
  padding-left: 0;
  margin: 0;
}

.pagination > ol {
  list-style-type: none;
  margin: 2em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination > ol > li {
  padding-right: 0.2em;
}

.pagination > p {
  margin-left: 2em;
}

.rating-star {
  color: gold;
}

.new-price {
  font-size: 1.5em;
  color: peru;
  font-weight: bold;
}

.add-to-cart {
  background-color: #0bda51;
  width: 10em;
  height: 2em;
  color: white;
}

.favorite-button {
  margin-left: 0.5em;
  width: 3em;
  height: 2em;
  background-color: white;
  border-radius: 100%;
  border-color: red;
}

.unselected-favorite {
  color: red;
}

.selected-favorite {
  color: red;
}

.product-footer {
  display: flex;
  margin-top: 0.5em;
}
